:root {
  --background: lab(96 0.44 -2.18);
  --foreground: lab(4.03 0.69 -0.85);
  --card: lab(92.35% 0 -0.01);
  --card-foreground: lab(4.03 0.69 -0.85);
  --popover: lab(92.18 0.01 -0.01);
  --popover-foreground: lab(4.03 0.69 -0.85);
  --primary: lab(51.35% 25.76 -59.52);
  --primary-foreground: lab(95.28 0.48 -2.39);
  --secondary: lab(87.64 1.51 -7.15);
  --secondary-foreground: lab(4.03 0.69 -0.85);
  --muted: lab(78.43% 0 -0.01);
  --muted-foreground: lab(17.15 2.5 -3.6);
  --accent: var(--border);
  --accent-foreground: lab(4.03 0.69 -0.85);
  --destructive: lab(71.35 46.46 32.27);
  --destructive-foreground: lab(91.68 3.05 -3.67);
  --border: lab(84.2% 0 -0.01);
  --input: lab(87% 0 -0.01);
  --ring: lab(62.09% 0.47 -3.41);
  --chart-1: lab(28.53 23.65 -42.7);
  --chart-2: lab(37.11 22.42 -40.92);
  --chart-3: lab(45.66 29.91 -50.63);
  --chart-4: lab(63.9 49.86 -73.51);
  --chart-5: lab(71.23 56.06 -78.07);
  --sidebar: lab(97% 0.01 -0.01);
  --sidebar-foreground: lab(4.03 0.69 -0.85);
  --sidebar-primary: lab(15.98 12.13 -24.19);
  --sidebar-primary-foreground: lab(4.03 0.69 -0.85);
  --sidebar-accent: lab(80.47 1.81 -8.81);
  --sidebar-accent-foreground: lab(4.03 0.69 -0.85);
  --sidebar-border: lab(80.47 1.81 -8.81);
  --sidebar-ring: lab(70.29 3.75 -12.99);
}

.dark {
  --background: lab(4% 0.44 -2.18);
  --foreground: lab(95.97% 0.69 -0.85);
  --card: lab(9.34% 1.07 -5.15);
  --card-foreground: lab(95.97% 0.69 -0.85);
  --popover: lab(7.82% 1.1 -5.22);
  --popover-foreground: lab(95.97% 0.69 -0.85);
  --primary: lab(78.28% 10.6 -32.65);
  --primary-foreground: lab(4.72% 0.48 -2.39);
  --secondary: lab(12.36% 1.51 -7.15);
  --secondary-foreground: lab(95.97% 0.69 -0.85);
  --muted: lab(16% 1.33 -5.73);
  --muted-foreground: lab(82.85% 2.5 -3.6);
  --accent: var(--border);
  --accent-foreground: lab(95.97% 0.69 -0.85);
  --destructive: lab(43.75% 58.11 37.32);
  --destructive-foreground: lab(8.32% 3.05 -3.67);
  --border: lab(13% 1.77 -7.72);
  --input: lab(20% 1.81 -8.81);
  --ring: lab(60.15% 3.69 -14.9);
  --chart-1: lab(71.47% 23.65 -42.7);
  --chart-2: lab(62.89% 22.42 -40.92);
  --chart-3: lab(54.34% 29.91 -50.63);
  --chart-4: lab(36.1% 49.86 -73.51);
  --chart-5: lab(28.77% 56.06 -78.07);
  --sidebar: lab(5.58% 1.03 -3.98);
  --sidebar-foreground: lab(95.97% 0.69 -0.85);
  --sidebar-primary: lab(84.02% 12.13 -24.19);
  --sidebar-primary-foreground: lab(95.97% 0.69 -0.85);
  --sidebar-accent: lab(19.53% 1.81 -8.81);
  --sidebar-accent-foreground: lab(95.97% 0.69 -0.85);
  --sidebar-border: lab(19.53% 1.81 -8.81);
  --sidebar-ring: lab(29.71% 3.75 -12.99);
}
